.control {
  margin: 1rem 0;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.control input,
.control textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #40337a;
}

.btn {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 8px;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #40337a;
  color: white;
}
